<nav>
    <ul class="flex flex-row w-full justify-between gap-3 p-8">
        <li>
            <a class="font-semibold text-xl hover:underline " href="/">
                Accueil
            </a>
        </li>
        <li>
            <a class="font-semibold text-xl hover:underline" href="/add">
                Add
            </a>
        </li>
        <li>
            <a class="font-semibold text-xl hover:underline" href="/list">
                See all houses
            </a>
        </li>
    </ul>
</nav>